----------------------------------------
# Visual Studio User Specific and Solution Files
.vs/
*.vspscc
*.vssscc
*.suo
*.user
*.log
*.pfx
*.lib
*.ncb
*.aps
*.pch
*.gch

# Database/IntelliSense Files
*.VC.db
*.VC.opendb
*.sdf
*.opensdf
*.sqlite
.vsconfig

# Binary and Compiled Output
*.dll
*.exe
*.obj
*.pdb
*.ilk

# Intermediate and Temporary Build Files
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Miscellaneous
*.orig
*.bak

Intermediate/
Build/
Binaries/
Saved/
DerivedDataCache/

# Visual Assets and Configs (indien niet gecommit)
SourceArt/**/*.png
SourceArt/**/*.tga
*.umap # Meestal wil je maps wel committen, maar voeg toe indien nodig.
*.uasset # UAssets moet je meestal committen, behalve:

# Built Data (deze gegenereerde data NIET committen)
*_BuiltData.uasset

# Whitelist PakBlacklist-<BuildConfiguration>.txt files
# Houd de PakBlacklist bestanden (configuratie) diep in de Build map, maar negeer de rest.
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt

# Don't ignore icon files in Build (icons zijn klein en handig)
!Build/**/*.ico

# Plugin Dependencies
Plugins/**/Binaries/*
Plugins/**/Intermediate/*
Plugins/**/Saved/*